<div
  *ngFor="let message of messages"
  class="media w-75 mb-3" ngClass="{{message.me ? 'ml-auto': ''}}">
  <img *ngIf="!message.me"  src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
  <div class="media-body ml-3">
    <div class="rounded py-2 px-3 mb-2" ngClass="{{message.me ? 'bg-primary': 'bg-light'}}">
      <p class="text-small mb-0" ngClass="{{message.me ? 'text-white': 'text-muted'}}">{{message.message}}</p>
    </div>
    <div class="text-{{message.me ? 'right': 'left'}}">
      <small class="text-muted">{{message.from}}</small>
    </div>
  </div>
</div>

